.about__info {

  font-family: 'Montserrat', sans-serif;
}
.about__info > h1 {
    font-size: 40px;

}

.about__info >h2 {
    font-size: 25px;
    margin-top: 8vh;
    margin-left: 50px;
}

.about__info >  p {
    font-size: 18px;
    margin-left: 80vh;
    margin-right: 10vh;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.616);
}

.about__info > h3 {
    margin-top: 8vh;
    margin-left: 50px;
    font-size: 25px;
}

.about__info > h4 {
    margin-top: 8vh;
    margin-left: 50px;
    font-size: 25px;
}