.amenities__info{
 padding-left: 10px;
}


.amenities_img {
    
    display: flex;
    

}

 @media screen and (max-width: 768px) {
    .amenities__info .amenities_img {
      flex-direction: column;
      align-items: center;
    }
  }