.banner {
    background:  url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD2OiqxwOwMU3QqXn8fEkhBL6OlVLSYABfFg&usqp=CAU") center;
    height: 89vh;
    background-size: 155vh 87vh;
    position: relative;
    background-repeat: no-repeat;
    margin-left: 70px;


}
.banner_box {
    background-color: transparent;
    width: 650px;
    padding-top: 130px;
    padding-left: -1px;
    display: flex;
}

.banner__info {
    background-color: rgb(245, 245, 245);

   color: black;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
    width: 350px;
    
}
.banner__info  > h1{
    margin-top: -70px;
}
.banner__search {
    display: flex;
    flex-direction: column;
    
}

.banner__searchButton {
    background-color: #ff7779 !important;
    font-weight: 900 !important;
    font-size: 16px;
    text-transform: inherit !important;
    color: white !important;
    height: 40px;
    width: 200px;
    margin-top: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-color: #ff7779;
    border-radius: 8px;
    
    
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    width: 25vh;
    height: 50px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 10px;
    border-color: #ff7779;
}
.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
    border-color: white;
}

.banner__info > h5 {
    margin-top: 10px;
}



