.register{
    max-width: 978px;
    width: 100vw;
    display:flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: white;
  }

  .register span{
    color: black;
  }
  
  #form{
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
  }
  
  #form >  input, .btn{
    border: 1px solid #e9ecef;
    padding: .9em 1em;
  }
  
  #form > input:focus{
    outline: none;
  }
  
  #form > .btn{
    background-color: #003049;
    color: #e9ecef;
    font-size: 1em;
   
  }

  #form > .btn:hover {
    background-color: rgba(0, 0, 0, 0.226);
    color: #003049;
  }
  
  .flex{
    display: flex;
    gap: 1em;
  }
  
  .flex-col{
    flex-direction: column;
  }
  
  .register .col-1{
    margin: auto;
    padding: 3em 0;
  }

  
  @media screen and (min-width: 860px)  {
    .register .col-2 img{
      display: initial;
    }
  }
    