.home >h1  {
  padding-top: 40px;
}

.home__section {
    display: flex;
    padding: 30px;
    width: 100%;
    padding-top: 3px;

}

.home__section > a {
    color: black;
    text-decoration: none;
}

h1 {
    margin-top: 10px;
    margin-left: 40px;
    
}

.service {
    display: flex;
    padding: 30px;
    width: 100%;

}

.amenities {
    
    display: flex;
    padding: 30px;
    width: 100%;

    
    
}

.about {
    display: flex;
    padding: 20px;
    
    background-color: rgba(128, 128, 128, 0.082);

}

