.services__info {
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.icons {
   margin-left: 5vh;
   margin-right: 5vh;
  
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   column-gap: 1px;  
    
   
}

