<<<<<<< HEAD
.amenities__info{
    padding-left: 10px;
   }
   
   
   .amenities_img {
       
       display: flex;
       min-width: 200px;
       
   
   }
=======
.services__info {
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.services__info {
    padding: 10px;

}

.cardi {
    display: inline-block;
}
>>>>>>> 37f4fda1810bd2cd5d23a952becb77078fa57064
