.footer {
    background-color: rgba(128, 128, 128, 0.021);
    padding-top: 50px;
     width:100%;
     height: 50vh;
    border-radius: 10px;
    
    
    
}

.footer > h1 {
    font-size: 22px;
    
}

.footer > h2 {
    font-size: 15px;
    margin-top: 6px;
    margin-left: 39px;
    
    color: rgba(0, 0, 0, 0.705);
}

.footer__info > h1 {
    font-size: 22px;
    margin-left: 55vh;
    margin-top: -21vh;
    
    
}

.footer__info > h2  {
    margin-left: 55vh;
    font-size: 15px;
    margin-top: 6px;
    color: rgba(0, 0, 0, 0.705);
}

.footer__info2 > h1{
    font-size: 22px;
    margin-left: 103vh;
    margin-top: -12vh;
    
    
    
}

.footer__info2 > h2 {
    font-size: 15px;
    margin-left: 103vh;
    margin-top: 6px;
   color: rgba(0, 0, 0, 0.705);
    
}
.footer__info3 > h1{
    font-size: 22px;
    margin-left: 146vh;
    margin-top: -24vh;
    
    
    
    
}

.footer__info3 > h2 {
    font-size: 15px;
    margin-left: 146vh;
    margin-top: 6px;
    display: flex;
    color: rgba(0, 0, 0, 0.705);
    
    
}
hr {
    margin-top: 10px;
}
.footer__terms {
    
    font-size: 10px;
    color: rgba(0, 0, 0, 0.705);
    margin-top: 20px;
    margin-left: 30px;
}

.footer__social{
  margin-left: 900px;
  font-size: 25px;
  margin-top: -10px;
  
  
  
}

.footer__social .facebook {
    margin-left: 20px;
    color: black;
}
.footer__social .twitter {
    margin-left: 20px;
    color: black;
}

.footer__social .instagram {
    margin-left: 20px;
    color: black;
}



