.footer {
    background-color: rgba(128, 128, 128, 0.027);
    padding-top: 330px;
    margin-top: -1px;
    width: 100%;
    border-radius: 10px;
    
}

.footer > h1 {
    margin-top: -40vh;
    font-size: 22px;
    
}

.footer > h2 {
    font-size: 16px;
    margin-top: 8px;
    margin-left: 39px;
    
    color: rgba(0, 0, 0, 0.705);
}

.footer__info > h1 {
    font-size: 22px;
    margin-left: 55vh;
    margin-top: -23vh;
    
    
}

.footer__info > h2  {
    margin-left: 55vh;
    font-size: 16px;
    margin-top: 8px;
    
    color: rgba(0, 0, 0, 0.705);
}

.footer__info2 > h1{
    font-size: 22px;
    margin-left: 103vh;
    margin-top: -11vh;
    
    
    
    
}

.footer__info2 > h2 {
    font-size: 16px;
    margin-left: 103vh;
    margin-top: 10px;
    
    
    color: rgba(0, 0, 0, 0.705);
    
}
.footer__info3 > h1{
    font-size: 22px;
    margin-left: 146vh;
    margin-top: -28vh;
    
    
    
    
}

.footer__info3 > h2 {
    font-size: 16px;
    margin-left: 146vh;
    margin-top: 9px;
    display: flex;
    color: rgba(0, 0, 0, 0.705);
    
    
}

.footer__terms {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.705);
    margin-top: 10px;
    margin-left: 40px;
}

.footer__social{
  margin-left: 1000px;
  font-size: 25px;
  margin-top: -10px;
  justify-content: space-between;
  
  
    
}





