.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
  }
  
  .header__icon {
    object-fit: contain;
    height: 80px;
    
    margin-left: 20px;
    
  }
  
  .header__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 40px;
    border: 1px solid rgba(211, 211, 211, 0.863);
    border-radius: 999px;
    background-color: rgba(128, 128, 128, 0.041);
  }
  
  .header__center > button {
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 200px; 
    background-color: rgba(128, 128, 128, 0);
  }

  .header__center:hover {
      background-color: rgba(128, 128, 128, 0.295);
  }
  
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16.7vw;
    margin-right: 80px;

  }
  .header__right > h1 {
    font-size: 14px;
  }
  .header__right > button {
    background-color: rgba(128, 128, 128, 0.349);
    height: 35px;
    width: 35vh;
    font-size: 15px;
    border: none;
    
    border-radius: 15px;
  }

  .header__right > button:hover {
    background-color: #d80338af;
  }
  .language{
    color: rgb(0, 0, 0);
    font-size: 18px;
    
  }
  .language:hover{
    color: rgba(0, 0, 0, 0.226);
  }
  
  .user__icon {
    font-size: 25px;
    color: gray;
  }

  .user__icon:hover{
    color: rgba(0, 0, 0, 0.288);
  }
    
  .icon {
     margin-left:18.5vh;
     margin-bottom: -5px;
  }